<!-- it's a template file, 
use to avoid repition task also to embed 
or write javascript code if it is not possible to write on server page -->

 <%- include('header'); -%>  <!-- including external file(which consist common layout -->

 <h1> <%=keyHead%> </h1>
<main>
    
    <section class="box">
   
    <% listTitle.forEach((element)=>
       { %> 
            <form action="/delete" method="post">
                    <fieldset class="item">
                        <input type="checkbox" name="checkBox" value="<%=element._id%>" onchange="this.form.submit()">
                      
                       <p><%=element.name%> </p>
                 
                    <input type="hidden" name="listName" value = "<%=keyHead%>"></input>
                    </fieldset>
            </form>
     <%   }
        ) %>

    </section>

<section >

<form   action="/" method="post">

    <fieldset class="item" >
        <input   type="text" name="itemNew" placeholder="Type your task" autocomplete="off">
        <button type="submit" name="list" value = "<%=keyHead%>" >+</button>
    </fieldset>

</form>
</section>

</main>

<%- include('footer'); -%>

